{% extends 'core/crear.html'%}
{% block extra_head %}
{{block.super}}
<style type="text/css">
	.row{
		padding: 25px;
	}
	.row div{
		margin-bottom: 10px;
	}
</style>
{% endblock %}
{% block contenido %}
<form method="post" enctype="multipart/form-data" action="">
	{% csrf_token %}
	<div class="box box-main">
		<div class="row">
			<div class="col-md-2{%if form.nombre.errors%} error {%endif%}">{{form.nombre.label_tag}}</div>
			<div class="col-md-4">{{form.nombre}}</div>
			<div class="col-md-2{%if form.paterno.errors%} error {%endif%}">{{form.paterno.label_tag}}</div>
			<div class="col-md-4">{{form.paterno}}</div>
			<div class="col-md-2{%if form.materno.errors%} error {%endif%}">{{form.materno.label_tag}}</div>
			<div class="col-md-4">{{form.materno}}</div>
			<div class="col-md-2{%if form.fecha_de_nacimiento.errors%} error {%endif%}">{{form.fecha_de_nacimiento.label_tag}}</div>
			<div class="col-md-4">{{form.fecha_de_nacimiento}}</div>
		</div>
	</div>
	<div class="box box-main">
		<div class="row">
			<div class="col-md-2{%if form.lugar_de_nacimiento.errors%} error {%endif%}">{{form.lugar_de_nacimiento.label_tag}}</div>
			<div class="col-md-10">{{form.lugar_de_nacimiento}}</div>
			<div class="col-md-2{%if form.matricula.errors%} error {%endif%}">{{form.matricula.label_tag}}</div>
			<div class="col-md-4">{{form.matricula}}</div>
			<div class="col-md-2{%if form.plaza.errors%} error {%endif%}">{{form.plaza.label_tag}}</div>
			<div class="col-md-4">{{form.plaza}}</div>
			<div class="col-md-2{%if form.equipo.errors%} error {%endif%}">{{form.equipo.label_tag}}</div>
			<div class="col-md-4">{{form.equipo}}</div>
			<div class="col-md-2{%if form.rama.errors%} error {%endif%}">{{form.rama.label_tag}}</div>
			<div class="col-md-4">{{form.rama}}</div>
			<div class="col-md-2{%if form.hermano_institucion.errors%} error {%endif%}">{{form.hermano_institucion.label_tag}}</div>
			<div class="col-md-4">{{form.hermano_institucion}}</div>
		</div>
	</div>
	<div class="box box-main">
		<div class="row">
			<div class="col-md-2{%if form.padre.errors%} error {%endif%}">{{form.padre.label_tag}}</div>
			<div class="col-md-4">{{form.padre}}</div>
			<div class="col-md-2{%if form.emergencia.errors%} error {%endif%}">{{form.emergencia.label_tag}}</div>
			<div class="col-md-4">{{form.emergencia}}</div>
			<div class="col-md-2{%if form.calle.errors%} error {%endif%}">{{form.calle.label_tag}}</div>
			<div class="col-md-4">{{form.calle}}</div>
			<div class="col-md-2{%if form.no.errors%} error {%endif%}">{{form.no.label_tag}}</div>
			<div class="col-md-4">{{form.no}}</div>
			<div class="col-md-2{%if form.colonia.errors%} error {%endif%}">{{form.colonia.label_tag}}</div>
			<div class="col-md-4">{{form.colonia}}</div>
			<div class="col-md-2{%if form.cp.errors%} error {%endif%}">{{form.cp.label_tag}}</div>
			<div class="col-md-4">{{form.cp}}</div>
			<div class="col-md-2{%if form.poblacion.errors%} error {%endif%}">{{form.poblacion.label_tag}}</div>
			<div class="col-md-4">{{form.poblacion}}</div>
			<div class="col-md-2{%if form.municipio.errors%} error {%endif%}">{{form.municipio.label_tag}}</div>
			<div class="col-md-4">{{form.municipio}}</div>
			<div class="col-md-2{%if form.entidad_federativa.errors%} error {%endif%}">{{form.entidad_federativa.label_tag}}</div>
			<div class="col-md-4">{{form.entidad_federativa}}</div>
			<div class="col-md-2{%if form.estatus.errors%} error {%endif%}">{{form.estatus.label_tag}}</div>
			<div class="col-md-4">{{form.estatus}}</div>
		</div>
	</div>
</form>
{% endblock %}