{% extends 'core/crear.html'%}
{% block extra_head %}
{{block.super}}
<style type="text/css">
	.box-danger{
		padding: 25px;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('#id_activo').bootstrapSwitch({'onText':'Si','offText':'No','size':'small','handleWidth':35,'offColor':'danger','labelWidth':0});
	});
</script>
{% endblock %}
{% block contenido %}
<form method="post" enctype="multipart/form-data" action="">
	{% csrf_token %}
		<div class="box box-danger">
	  	<h3 class='box-title'>Ciclo Escolar</h3>
  	<div class='box-body'>
				{%for i in form%}
					{%if i.name != 'importe'%}
					<div class="row">
						<div class="col-md-2{%if i.errors%} error {%endif%}">{{i.label_tag}}</div>
						<div class="col-md-5">{{i}}</div>
						</div>
					{%else%}
					<div class="row">
						<div class="col-md-2{%if i.errors%} error {%endif%}">{{i.label_tag}}</div>
							<div class="col-md-5">
							<div class="input-group"> 
							<div class="input-group-addon">$</div>
								{{i}}
							</div>
						</div>
						</div>
		  		{%endif%}
				{%endfor%}
			</div>
		</div>
	</div>
</form>
{% endblock %}