{% extends 'core/crear.html'%}
{% block extra_head %}
{{block.super}}
<style type="text/css">
  .box-danger{
    padding: 25px;
  }
</style>
{% endblock %}
{% block mensajes %}
  {% if messages %}
      {% for message in messages %}
        {% ifequal message.tags "error" %}
          <div class='alert alert-danger'>
          {{ message }}
          </div>
        {% endifequal %}
        {% ifequal message.tags "success" %}
          <div class='alert alert-success'>
          {{ message }}
          </div>
        {% endifequal %}
      {% endfor %}
  {% endif %}
{% endblock %}
{% block contenido %}
<form method="post" enctype="multipart/form-data" action="">
	{% csrf_token %}
	  <div class="row">
    <div class="col-md-6">
      <div class="box box-danger">
        <h3 class='box-title'>Conceptos</h3>
        <div class='box-body'>
          <div class="row">
            <div class="col-md-4 {%if form.clave.errors%} error {%endif%}">{{form.clave.label_tag}}</div>
            <div class="col-md-8">{{form.clave}}</div>
          </div>
          <div class="row">
            <div class="col-md-4 {%if form.nombre.errors%} error {%endif%}">{{form.nombre.label_tag}}</div>
            <div class="col-md-8">{{form.nombre}}</div>
          </div>
          <div class="row">
            <div class="col-md-4{%if form.importe.errors%} error {%endif%}">{{form.importe.label_tag}}</div>
            <div class="col-md-8">
            	<div class="input-group"> 
								<div class="input-group-addon">$</div>
									{{form.importe}}
								</div>
							</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-danger">
        <h3 class='box-title'>&nbsp;</h3>
        <div class='box-body'>
          <div class="row">
            <div class="col-md-4 {%if form.tipo.errors%} error {%endif%}">{{form.tipo.label_tag}}</div>
            <div class="col-md-8">{{form.tipo}}</div>
          </div>
          <div class="row">
            <div class="col-md-4 {%if form.tipo_de_cargo.errors%} error {%endif%}">{{form.tipo_de_cargo.label_tag}}</div>
            <div class="col-md-8">{{form.tipo_de_cargo}}</div>
          </div>
          <div class="row">
            <div class="col-md-4 {%if form.formula.errors%} error {%endif%}">{{form.formula.label_tag}}</div>
            <div class="col-md-8">{{form.formula}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="box box-danger">
        <div class='box-body'>
          <div class="row">
          <div class="col-md-12 {%if form.descripcion.errors%} error {%endif%}">{{form.descripcion.label_tag}}</div>
          <div class="col-md-12">{{form.descripcion}}</div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}