{% extends 'core/crear.html'%}
{% block extra_head %}
{{block.super}}
<style type="text/css">
  .box-danger{
    padding: 25px;
  }
  .title{
    font-size: 15px;
    font
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    {%if not obj%}
    $('#id_tipo').val({{obj.tipo}});
    {%endif%}
    $('#id_activo').bootstrapSwitch({'onText':'Si','offText':'No','size':'small','handleWidth':35,'offColor':'danger','labelWidth':0});
    $('#id_hermanos').bootstrapSwitch({'onText':'Si','offText':'No','size':'small','handleWidth':35,'offColor':'danger','labelWidth':0});
    $('#minuto').val([{{min_s}}]);
    $('#hora').val([{{hor_s}}]);
    $('#dia').val([{{dia_s}}]);
    $('#mes').val([{{mes_s}}]);
    $('#id_concepto').combobox();
    $('#id_cron').combobox();
    $('#agregar').on('click',function(){
      addForm('','#recargo_inline','recargo_pago_set');
    });
    $('#agregar_m').on('click',function(){
      addForm('','#mensual','pronto_pago_set');
    });
    $('#mens').on('click',function(){
      $('#id_tipo').val('1');
    });
    $('#rec').on('click',function(){
      $('#id_tipo').val('2');
    });
  });
</script>
{% endblock %}
{% block contenido %}
<form method="post" enctype="multipart/form-data" action="">
  {% csrf_token %}
<div class="row">
  <div class="col-md-6">
    <div class="box box-danger">
      <h3 class='box-title'>Programar Automaticos</h3>
      <div class='box-body'>
        <div class="row">
          
          <div class="col-md-3">
          <div class="title">Mes</div>
            <select multiple size="15" name="mes" style="width:90%;" id='mes'>
                {%for i in mes%}
                <option value="{{i.0}}">{{i.1}}</option>
                {%endfor%}
              </optgroup>
            </select>
          </div>

          <div class="col-md-3">
          <div class="title">Dia</div>
            <select multiple size="15" name="dia" style="width:80%;" id='dia'>
              {%for i in dia%}
                <option value="{{i}}">{{i}}</option>
              {%endfor%}
              </optgroup>
            </select>
          </div>
          <div class="col-md-3">
          <div class="title">Hora</div>
            <select multiple size="15" name="hora" style="width:80%;" id='hora'>
                {%for i in hora%}
                  <option value="{{i}}">{{i}}</option>
                {%endfor%}
              </optgroup>
            </select>
          </div>
          <div class="col-md-3">
          <div class="title">Minuto</div>
            <select multiple size="15" name="minuto" style="width:80%;" id='minuto'>
              {%for i in minuto%}
                <option value="{{i}}">{{i}}</option>
              {%endfor%}
            </optgroup>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-danger">
      <h3 class='box-title'>Conceptos</h3>
      <div class='box-body'>
        <div class="row">
          <div class="col-md-3">Activo</div>
          <div class="col-md-3">{{form.activo}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Tipo de automatico</div>
          <div class="col-md-9">
          <ul class="nav nav-tabs">
          {%if not obj.tipo%}
              <li class="active"><a data-toggle="tab" href="#mensual" id='mens'>Mensual</a></li>
              <li><a data-toggle="tab" href="#recargo_tab" id='rec'>Recargos</a></li>
              <li>Solo Puede seleccionar alguna de los dos tipos de automaticos</li>
          {%else%}
              <li>Ya fue seleccionado {%if obj.tipo == '1'%}Mensualidad{%elif obj.tipo == '2'%}Recargos{%endif%} al momento de darse de alta </li>
          {%endif%}
          </ul>
          <div hidden>{{form.tipo}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <div class="col-md-12">
    <div class="box box-danger">
      <div class="tab-content">

         <div id="mensual" class="tab-pane fade {%if obj.tipo == '1' or obj == None%} in active {%endif%} ">
            <h3 class='box-title'>Ajustes a mensualidad</h3>
            <div class='box-body'>
            <div class="row">
              <div class="col-md-3"><i class="btn btn-primary fa fa-plus" id='agregar_m' name=""></i></div>
              <div class="col-md-9">{{form.recargos}}</div>
            </div>
              <div class="row">
                <div id="mensual">
                  {{prontose.management_form}}
                    <table class='table table-condensed'>
                      <thead>
                        <tr>
                          <th>Activo</th>
                          <th>Se aplica:</th>
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                    <tbody>
                      {%for i in prontose%}
                      {{i.id}}
                          <tr class="dynamic-form" >
                            <td>{{i.activo}}</td>
                            <td>{{i.beca}}</td>
                            <td>{{i.DELETE}}</td>
                          </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
         </div>

         <div id="recargo_tab" class="tab-pane fade {%if obj.tipo == '2'%} in active {%endif%} ">
            <h3 class='box-title'>Recargos</h3>
            <div class='box-body'>
            <div class="row">
              <div class="col-md-3">Aplicara Recargos <i class="btn btn-primary fa fa-plus" id='agregar' name=""></i></div>
              <div class="col-md-9">{{form.recargos}}</div>
            </div>
              <div class="row">
                <div id="recargo_inline">
                  {{formset.management_form}}
                    <table class='table table-condensed'>
                      <thead>
                        <tr>
                          <th>Activo</th>
                          <th>Si Debe</th>
                          <th>Concepto que se debe</th>
                          <th style="width: 10%">Diferencia Permitida</th>
                          <th>Se aplicara</th>
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                    <tbody>
                      {%for i in formset%}
                      {{i.id}}
                          <tr class="dynamic-form" >
                            <td>{{i.activo}}</td>
                            <td>{{i.cantidad_debe}}</td>
                            <td>{{i.concepto}}</td>
                            <td>{{i.diferencia}}</td>
                            <td>{{i.aplica}}</td>
                            <td>{{i.DELETE}}</td>
                          </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</form>
{% endblock %}