{% extends 'core/crear.html'%}
{% block extra_head %}
{{block.super}}
<style type="text/css">
  .box-danger{
    padding: 25px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_activo').bootstrapSwitch({'onText':'Activo','offText':'Inactivo','size':'small','handleWidth':35,'offColor':'danger','labelWidth':0});
    $('#minuto').val([{{min_s}}]);
    $('#hora').val([{{hor_s}}]);
    $('#dia').val([{{dia_s}}]);
    $('#mes').val([{{mes_s}}]);
  });
</script>
{% endblock %}
{% block contenido %}
<form method="post" enctype="multipart/form-data" action="">
  {% csrf_token %}
  <div class="box box-danger">
    <h3 class='box-title'>Automaticos</h3>
      <div class='box-body'>
      <div class="row">
      <div class="col-md-1">
        {{form.activo}}
      </div>
      <div class="col-md-1">
      Tipo:
      </div>
      <div class="col-md-2">
        {{form.cron}}
      </div>
      <div class="col-md-1">
        <select multiple size="15" name="minuto" style="width:80%;" id='minuto'>
        <optgroup label = "Minuto">
          {%for i in minuto%}
            <option value="{{i}}">{{i}}</option>
          {%endfor%}
        </optgroup>
        </select>
      </div>
      <div class="col-md-1">
        <select multiple size="15" name="hora" style="width:80%;" id='hora'>
        <optgroup label = "Hora">
          {%for i in hora%}
            <option value="{{i}}">{{i}}</option>
          {%endfor%}
        </optgroup>
        </select>
      </div>
      <div class="col-md-1">
        <select multiple size="15" name="dia" style="width:80%;" id='dia'>
        <optgroup label = "Dia">
          {%for i in dia%}
            <option value="{{i}}">{{i}}</option>
          {%endfor%}
        </optgroup>
        </select>
      </div>
    <div class="col-md-1">
        <select multiple size="15" name="mes" style="width:120%;" id='mes'>
        <optgroup label = "mes">
          {%for i in mes%}
            <option value="{{i.0}}">{{i.1}}</option>
          {%endfor%}
        </optgroup>
        </select>
      </div>
    </div>
    </div>
  </div>
</form>
{% endblock %}