{% extends 'core/crear.html'%}
{% block extra_head %}
<style type="text/css">
  .box-danger{
    padding: 25px;
  }
</style>
{{block.super}}
{% endblock %}
{% block boton_titulo %}
{% endblock %}
{% block contenido %}
  <div class="row">
    <div class="col-md-12">
      <div class="box box-danger">
        <h3 class='box-title '>Relación de alumnos con Adeudos </h3>
        <div class='box-body'>
        <table class="table">
          <thead>
            <tr>
              <th>Matricula</th>
              <th>Alumno</th>
              <th>Fecha de Nacimiento</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {%for i in saldo%}
            <tr>
              <td>{{i.0.matricula}}</td>
              <td>
              <a href="{%url 'editar' 'inscripcion' 'inscripcion' i.0.pk %}" data-app='inscripcion' data-modelo='inscripcion' data-pk='{{i.0.pk}}' class='acceso_edita' >{{i.0.nombre}} {{i.0.paterno}} {{i.0.materno}}</a>
              </td>
              <td>{{i.0.fecha_de_nacimiento|date:"d/m/Y"}}</td>
              <td>$ {{i.1}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        <div><b>Total:</b> $ {{total}}</div>
        </div>
      </div>
    </div>
  </div>
  {% block btn_action %}
  {% endblock %}
{% endblock %}