{% extends 'core/crear.html'%}
{% block extra_head %}
{{block.super}}
<style type="text/css">
  .box-danger {
    padding: 25px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_alumno').combobox();
    $('#id_ciclo').combobox();
    $('#id_concepto').combobox();

    $('#id_concepto').on('change',function(){
      let value = $(this).val();
      var params={
        'app'    : 'reporte',
        'method' : 'getvalue',
        'concep' : $(this).val(),
      } 
      $.ajax({data:params}).done(function(data){
        let tipo = data.response.tipo;
        $('#id_monto').val(data.response.importe);
        if(tipo=='I'){
          $('#id_anticipo').val(1)
        }
        if(tipo=='E'){
          $('#id_anticipo').val(0)
        }
      });
    });

  });
</script>
{% endblock %}
{% block mensajes %}
  {% if messages %}
      {% for message in messages %}
        {% ifequal message.tags "error" %}
          <div class='alert alert-danger'>
          {{ message }}
          </div>
        {% endifequal %}
        {% ifequal message.tags "success" %}
          <div class='alert alert-success'>
          {{ message }}
          </div>
        {% endifequal %}
      {% endfor %}
  {% endif %}
{% endblock %}
{% block contenido %}
<form method="post" enctype="multipart/form-data" action="">
  {% csrf_token %}
  <div class="row">
      <div class="col-md-6">
        <div class="box box-danger">
          <div class='box-header'>
            <h3 class='box-title'>Movimientos {%if nula and not obj%}<b>Esta Referencia No corresponde a ningun alumno</b>{%endif%}</h3>
          </div>
          <div class='box-body'>
            <div class="row">
              <div class="col-md-3 {%if form.fecha_registro.errors %} error {% endif %}">{{form.fecha_registro.label_tag}}</div>
              <div class="col-md-8">{{form.fecha_registro}}</div>
            </div>
            <div class="row">
              <div class="col-md-3 {%if form.fecha_captura.errors %} error {% endif %}">{{form.fecha_captura.label_tag}}</div>
              <div class="col-md-8">{{form.fecha_captura}}</div>
            </div>
            <div class="row">
              <div class="col-md-3 {%if form.ciclo.errors %} error {% endif %}">{{form.ciclo.label_tag}}</div>
              <div class="col-md-8">{{form.ciclo}}</div>
            </div>
            <div class="row">
              <div class="col-md-3 {%if form.alumno.errors %} error {% endif %}">{{form.alumno.label_tag}}</div>
              <div class="col-md-8">{{form.alumno}}</div>
            </div>
            <div class="row">
              <div class="col-md-3 {%if form.concepto.errors %} error {% endif %}">{{form.concepto.label_tag}}</div>
              <div class="col-md-8">{{form.concepto}}</div>
            </div>
            {%if obj.archivo%}
            <div class="row">
              <div class="col-md-3 {%if form.folio.errors %} error {% endif %}">{{form.folio.label_tag}}</div>
              <div class="col-md-8">{{form.folio}}</div>
            </div>
            <div class="row">
              <div class="col-md-3 {%if form.referencia.errors %} error {% endif %}">{{form.referencia.label_tag}}</div>
              <div class="col-md-8">{{form.referencia}}</div>
            </div>
            {%endif%}
            <div class="row">
              <div class="col-md-3 {%if form.monto.errors %} error {% endif %}">{{form.monto.label_tag}}</div>
              <div class="col-md-4">
                <div class="input-group"> 
                  <div class="input-group-addon">$</div>
                    {{form.monto}}
                  </div>
                </div>
                <div id='anticipos' hidden>
                <div class="col-md-1">Mensualidad Anticipada</div>
                <div class="col-md-3"><input type="text" name="anticipo" id='id_anticipo'></div>
                </div>
              </div>
            </div>
        </div>
    </div>
  <div class="col-md-6">
      <div class="box box-danger">
        <div class='box-header'>
            <h3 class='box-title'>Subir Movimiento</h3>
        </div>
        <div class='box-body'>
          <div class="row">
              {{form.archivo}}
          </div>
        </div>
      </div>
  </div>
</div>
</form>
{% endblock %}
{% block btn_action %}
  {% if obj == None %}  
  {{block.super}}
  {% else %}
  {% endif %}
  {%if not nula and obj != None%}
    {{block.super}}
  {%endif%}
{% endblock %}
