{% extends 'core/crear.html'%}
{% block extra_head %}
<style type="text/css">
  .box{
    padding: 25px;
  }
</style>
{{block.super}}
{% endblock %}
{% block boton_titulo %}
{% endblock %}
{% block contenido %}
  <div class="row">
    <div class="col-md-12">
      <div class="box box-danger">
        <h3 class='box-title '>Saldos</h3>
        <div class='box-body'>
        <div class="row">

          <div class="col-md-1">Desde:</div>
          <div class="col-md-2">{{form.desde}}</div>
          <div class="col-md-1">Hasta:</div>
          <div class="col-md-2">{{form.hasta}}</div>
          <div class="col-md-1">Ciclo:</div>
          <div class="col-md-2">{{form.ciclo}}</div>
          <div class="col-md-3"><button class="btn btn-primary"><i class="fa fa-search"></i></button></div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Matricula</th>
              <th>Nombre</th>
              <th>Fecha de Nacimiento</th>
              <th>Saldo</th>
              <th>Estatus</th>
            </tr>
          </thead>
          <tbody>
          {%for i in reporte%}
            <tr>
              <td>{{i.0}}</td>
              <td><a href="{%url 'editar' 'catalogo' 'alumno' i.5 %}" data-app='inscripcion' data-modelo='inscripcion' data-pk='{{i.5}}' class='acceso_edita' >{{i.1}}</a></td>
              <td>{{i.2|date:"d/m/Y"}}</td>
              <td>$ {{i.3}}</td>
              <td>{%if i.4%} Alta {%else%} Baja {%endif%}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        </div>
        <div><b>Total:</b> $ {{total}}</div>
      </div>
    </div>
  </div>
  {% block btn_action %}
  {% endblock %}
{% endblock %}