{% extends 'core/base.html'  %}
{% load static %}
{% block extra_head %}
<style>
.errorlist {
  padding    : 0px;
  list-style : none;
  color      : red;
}
.img-responsive {margin:0 auto;  }
</style>
<script type="text/javascript">
    $(document).ready(function(){
    $("#id_usuario").data("enter",1) 
    $("#id_contrasena").data("enter",1) 
  });
</script>
{% endblock %}
{% block body %}

<div id="login" class="container-fluid" style="max-width:350px;" >

  <form method='POST' action='' enctype='multipart/form-data'>
    {% csrf_token %}
    <p style='height:10px;'></p>
    <div class='' style='max-width:600px;height:80px;margin:0px auto;'>
      <h3 style='margin-top:-10px;'><center>{% block titulo %}{% endblock %}</center></h3>
    </div>
    {% block logo %}
    {% endblock %}
    <div style='max-width:400px;padding:30px;margin:0px auto; background-color: gray; border-radius: 10px;'>
      <div class="row">
        <div class='col-lg-12'><b>{{ form.usuario.label }}</b></div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          {{ form.usuario }}
          {{ form.usuario.errors }}</div>
      </div>
      <div class="row">
        <div class='col-lg-12'><b>{{ form.contrasena.label }}</b></div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          {{ form.contrasena }}
          {{ form.contrasena.errors }}
        </div>
      </div>
      <hr />
      <button class='btn btn-primary pull-right'>Iniciar Sesión</button><br />
    </div>
    {% block aviso %}
    {% endblock %}
  </form>
</div>

{% endblock %}