{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ project_name|striptags }}{% endblock %}
{% block extra_head %}
  {{ block.super }}
{% endblock %}
{% block body %}
<div class="wrapper">
  <header class="main-header">
    <a href="{% url 'index' %}" class="logo">
      <span class="logo-mini">{{ project_name_mini|safe }}</span>
      <span class="logo-lg">{{ project_name|safe }}</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown notifications-menu" style='display:none;'>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="true">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Usted tiene 10 notificaciones</li>
              <li>
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 8 mantenimientos pendientes
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 2 polizas de garantia por vencer
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">Ver todos</a></li>
            </ul>
          </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="img-circle" alt="User Image" style="width:20px;height:20px;">
                {% else %}
                <img src="{% static 'images/default-avatar.png' %}" class="img-circle" alt="User Image" style="width:20px;height:20px;">
                {% endif %}
              <span class="hidden-xs">{{ user.first_name }} {{ user.last_name }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="img-circle" alt="User Image" style="width:85px; height:85px;">
                {% else %}
                <img src="{% static 'images/default-avatar.png' %}" class="img-circle" alt="User Image" style="width:85px;height:85px;">
                {% endif %}
                <p>
                {{ user.first_name }} {{ user.last_name }}
                <small>{{ user.email }}</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left" style='display:none;'>
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Salir</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    {% include 'navbar/menu.html' %}
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        &nbsp; {{ obj.verbose_name|title }}
      </h1>
     <ol class='breadcrumb'>
      <li>
        {% block boton_titulo %}
        {% if modulo %}
          <a href='{% url modulo %}/listado' class='btn btn-sm btn-primary'><i class='fa fa-list-alt'></i> Listado</a>
        {% endif %}
        {% endblock %}
      </li>
     </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      {% block mensajes %} {%endblock %}
      {% block errores %} {% endblock %}
      {% block cuerpo %} {% endblock %}
      <p style='height:20px;'></p>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <a href='#'>Divox S.A de C.V</a>
    </div>
    <!-- Default to the left -->
    <strong>&nbsp;</strong>
  </footer>

  <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
{% endblock %}
