{% extends 'core/base.html'  %}
{% load static %}
{% block extra_head %}
<style>
.errorlist {
  padding    : 0px;
  list-style : none;
  color      : red;
}
</style>
{% endblock %}
{% block body %}
{% if form.errors %}
<div class='alert alert-warning'>
  Por favor llene la información marcada
</div>
{% endif %}
<form method='POST' action='' enctype='multipart/form-data'>
  {% csrf_token %}
  <p style='height:150px;'></p>
    <div style='max-width:450px;padding:30px;margin:0px auto; border-radius: 5px; '>
    <div class="text-center">
    <h3>Inicio de Sesión</h3>
    </div>
    <hr style="background-color:red; height: 3px; border-radius: 2px;" />
    <br>
    <div class='row'>
      <div class='col-lg-2'>
         <img src="{% static 'images/fuerzam.png' %}" width="50px;">
      </div>
    <div class='col-lg-10'>
      <div class='row'>
        <div class='col-lg-3'>{{ form.usuario.label }}</div>
          <div class='col-lg-9'>
            {{ form.usuario }}
            {{ form.usuario.errors }}
          </div>
      </div>
        <div class='row'>
          <div class='col-lg-3'>{{ form.contrasena.label }}</div>
          <div class='col-lg-9'>
            {{ form.contrasena }}
            {{ form.contrasena.errors }}
          </div>
        </div>
      </div>
    </div>
    <br/>
    <button class='btn btn-primary pull-right'>Ingresar</button><br />
    <hr />
    <div class="text-center">
    La siguiente aplicación ha sido desarrollada por <br/><a href="http://www.divox.com.mx"><img src="{%static 'images/logo_divox.png'%}" height="25px" /> Divox S.A. de C.V.</a>, y esta optimizada para visualizase con navegador <span class='label label-primary'>Firefox. </span>
    </div>
  </div>

</form>
{% endblock %}
